<div>
    <div style="min-height: 50vh; position:relative;" class="m-5 bgWhite">
      <div style="max-height:100%; overflow-x: hidden; overflow-y:scroll;">
        <form class="row g-3 p-5" #signIn="ngForm">
          <h5>Cadastro de Exame</h5>
          <div class="col-md-8">
            <label for="nome" class="form-label">Nome do Exame</label>
            <img [src]="OBRIGATORIO" alt="Logo" width="10" height="10"
            class="d-inline-block align-text-top">
            <input type="text" class="form-control" name="nome" #nome='ngModel'[(ngModel)]="exam.name" required minlength="8" maxlength="64"  (input)="validForm()">
            <div *ngIf="nome.errors && nome.touched" class="p-1 text-danger">
              {{nome.errors['required']?'Preencha esse campo':'Minímo de 8 e máximo de 64 caracteres'}}
            </div>
          </div>
          <div class="col-md-4">
            <label for="data" class="form-label">Data</label>
            <img [src]="OBRIGATORIO" alt="Logo" width="10" height="10"
            class="d-inline-block align-text-top">
            <input type="date" class="form-control" name='data' #data='ngModel' [(ngModel)]="exam.date" required>
            <div *ngIf="data.errors && data.touched" class="p-1 text-danger">
                Preencha esse campo
            </div>
          </div>
          <div class="col-md-3">
            <label for="horario" class="form-label">Horário</label>
            <img [src]="OBRIGATORIO" alt="Logo" width="10" height="10"
            class="d-inline-block align-text-top">
            <input type="time" class="form-control" name='horario' #horario='ngModel' [(ngModel)]="exam.time" required>
            <div *ngIf="horario.errors && horario.touched" class="p-1 text-danger">
                Preencha esse campo
            </div>
          </div>
          <div class="col-md-3">
            <label for="Tipo" class="form-label">Tipo</label>
            <img [src]="OBRIGATORIO" alt="Logo" width="10" height="10"
            class="d-inline-block align-text-top">
            <input type="text" class="form-control" name='Tipo' [(ngModel)]="exam.type" #Tipo="ngModel" required minlength="4" maxlength="34"  (input)="validForm()">
            <div *ngIf="Tipo.errors && Tipo.touched" class="p-1 text-danger">
              {{Tipo.errors['required']?'Preencha esse campo':'Minímo de 8 e máximo de 34 caracteres'}}
            </div>
          </div>
          <div class="col-md-3">
            <label for="laboratorio" class="form-label">Laboratório</label>
            <img [src]="OBRIGATORIO" alt="Logo" width="10" height="10"
            class="d-inline-block align-text-top">
            <input type="text" class="form-control" name='laboratorio' [(ngModel)]="exam.laboratory" #laboratorio="ngModel" required minlength="4" maxlength="34" (input)="validForm()">
            <div *ngIf="laboratorio.errors && laboratorio.touched" class="p-1 text-danger">
              {{laboratorio.errors['required']?'Preencha esse campo':'Minímo de 8 e máximo de 34 caracteres'}}
          </div>
          </div>
          <div class="col-md-3">
            <label for="role" class="form-label">Status</label>
            <img [src]="OBRIGATORIO" alt="Logo" width="10" height="10"
            class="d-inline-block align-text-top">
            <select class="form-select" aria-label="status" name="status" #status='ngModel'[(ngModel)]="exam.status" required (click)="validForm()">
              <option value="true" selected>Ativo</option>
              <option value="false" [disabled]="!isEditing">Inativo</option>
            </select>
            <div *ngIf="status.errors && status.touched" class="p-1 text-danger">
              Preencha esse campo
            </div>
          </div>
          <div class="col-md-12">
              <label for="resultado" class="form-label">Resultado</label>
              <img [src]="OBRIGATORIO" alt="Logo" width="10" height="10"
              class="d-inline-block align-text-top">
              <textarea class="form-control" name='resultado' [(ngModel)]="exam.result" #resultado="ngModel" required minlength="16" maxlength="1024" (input)="validForm()"></textarea>
              <div *ngIf="resultado.errors && resultado.touched" class="p-1 text-danger">
                  {{resultado.errors['required']?'Preencha esse campo':'Minímo de 16 e máximo de 1024 caracteres'}}
              </div>
          </div>
          <div class="col-md-12">
            <label for="url" class="form-label">URL do documento</label>
            <input type="text" class="form-control" name='url' [(ngModel)]="exam.documentUrl">
          </div>       
          <div class="col-md-6 d-flex justify-content-start">
              <app-button-forms [label]="'Salvar'" [type]="'btn-primary'" (click)="registerExam()" [disabled]="!formValid" [ngStyle]="{'cursor': formValid ? 'pointer': 'not-allowed'}"></app-button-forms>
              <app-button-forms [label]="'Cancelar'" [type]="'btn-warning'" (click)="modalClose()"></app-button-forms>
              <app-button-forms [label]="'Deletar'" [type]="'btn-danger'"  [disabled]="!isEditing" [ngStyle]="{'cursor': isEditing ? 'pointer': 'not-allowed'}" (click)="deleteExam()"></app-button-forms>
          </div>
        </form>
      </div>
    </div>
  </div>