<section>
    <ng-container *ngIf="patientId == undefined">
      <p>Selecione um paciente</p>
    </ng-container>
  
    <ng-container *ngIf="patientId != undefined">
      <div *ngIf="showPatientDiet && !dietForEdition">
        <div class="row">
          <h2 class="col-10">Dietas de {{ patientName }}</h2>
          <div class="col">
            <button class="btn btn-secondary" (click)="onAddNewAppointment()">Adicionar dieta</button>
          </div>
        </div>
        <hr>
  
        <app-diet-table
          [patientsDiets]="patientsDiets"
          (editDiet)="onEditAppointmentId($event)">
        </app-diet-table>
      </div>
  
      <!-- <div *ngIf="!showPatientAppointments || appointmentForEdition">
        <div class="row">
          <h2 class="col-8">Nova Consulta</h2>
          <div class="col d-flex justify-content-end">
            <button class="btn btn-secondary" (click)="onReturn()">
              Cancelar
            </button>
          </div>
        </div>
        <hr>
        <div>
          <app-appointment-form
            [patientId]="+patientId"
            [dietForEdition]="dietForEdition"
            (appointmentAddedSavedOrDeleted)="onAppointmentAddedSavedOrDeleted()"
            >
          </app-appointment-form>
        </div>
      </div> -->
    </ng-container>
  </section>