.userSearch{
    font-size: 1.5rem;
    font-weight: bold;
}
.parent-container{
    background-color: grey;
     height: 100vh;
}

.child-container{
    background-color: white;
    min-height: 50vh;
}