<section style="height: 70vh">
  <ng-container *ngIf="patientId == undefined">
	<p>Selecione um paciente</p>
  </ng-container>

  <ng-container *ngIf="patientId != undefined">
	<ng-container *ngIf="patient?.alergies != undefined && patient?.alergies != null">
	  <app-alergies-list [alergiesList]="patient.alergies"></app-alergies-list>
	</ng-container>
	<ng-container *ngIf="patient?.specialCare != undefined && patient?.specialCare != null">
	  <app-special-care-list [specialCareList]="patient.specialCare"></app-special-care-list>
	</ng-container>


	<div class="accordion accordion-flush" id="registersAccordion">
	  <!--Consultas-->
	  <div class="accordion-item">
		<h3 class="accordion-header">
		  <button
			class="accordion-button collapsed fs-3"
			type="button" data-bs-toggle="collapse"
			data-bs-target="#appointmentsAccordion"
			aria-expanded="false"
			aria-controls="appointmentsAccordion">
			Consultas
		  </button>
		</h3>
		<div
		  id="appointmentsAccordion"
		  class="accordion-collapse collapse"
		  data-bs-parent="#registersAccordion">
		  <div class="accordion-body">
			<div *ngIf="!emptyAppointments">
			  <div *ngFor="let appointment of patientAppointments | appointmentSortingPipe">
				<h4><span class="fw-bold">Motivo da Consulta: </span> {{ appointment.appointmentReason }}</h4>
				<p><span class="fw-bold">Data: </span>{{ appointment.appointmentDate | date: "dd/MM/yyyy"}}</p>
				<p><span class="fw-bold">Horário: </span>{{ appointment.time }}</p>
				<p><span class="fw-bold">Descrição do Problema: </span>{{ appointment.problemDescription }}</p>
				<p><span class="fw-bold">Dosagem e Precauções: </span>{{ appointment.dosageAndPrecautions }}</p>
				<button class="btn btn-secondary" (click)="accessAppointment(appointment)">Acessar</button>
				<hr>
			  </div>
			</div>
			<div *ngIf="emptyAppointments">
			  <p>Paciente não possui consultas cadastradas.</p>
			</div>
		  </div>
		</div>
	  </div>
	  <!--Exames-->
	  <div class="accordion-item">
		<h3 class="accordion-header">
		  <button
			class="accordion-button collapsed fs-3"
			type="button" data-bs-toggle="collapse"
			data-bs-target="#examsAccordion"
			aria-expanded="false"
			aria-controls="examsAccordion">
			Exames
		  </button>
		</h3>
		<div
		  id="examsAccordion"
		  class="accordion-collapse collapse"
		  data-bs-parent="#registersAccordion">
		  <div class="accordion-body">
			<div *ngIf="emptyExams">
			  <p>Paciente não possui exames cadastrados</p>
			</div>
			<div *ngIf="!emptyExams">
			  <div *ngFor="let exam of patientExams | examSorting">
				<h4><span class="fw-bold">Nome do Exame: </span> {{ exam.name }}</h4>
				<p><span class="fw-bold">Data: </span>{{ exam.examDate | date: "dd/MM/yyyy" }}</p>
				<p><span class="fw-bold">Horário: </span>{{ exam.time }}</p>
				<p><span class="fw-bold">Tipo do Exame: </span>{{ exam.type }}</p>
				<p><span class="fw-bold">Laboratório: </span>{{ exam.laboratory }}</p>
				<p><span class="fw-bold">Resultado: </span>{{ exam.result }}</p>
				<span *ngIf="exam.documentUrl">
				  <a class="d-block mb-2" routerLink="{{ exam.documentUrl }}"> <img class="img-fluid ms-1"
																					width="30" height="30" [src]="ANEXO"
																					alt="anexo"></a>
				</span>
				<button class="btn btn-secondary" (click)="accessExam(exam)">Acessar</button>
				<hr>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <!--Medications-->
	  <div class="accordion-item">
		<h3 class="accordion-header">
		  <button
			class="accordion-button collapsed fs-3"
			type="button" data-bs-toggle="collapse"
			data-bs-target="#medicationAccordion"
			aria-expanded="false"
			aria-controls="medicationAccordion">
			Medicamentos
		  </button>
		</h3>
		<div
		  id="medicationAccordion"
		  class="accordion-collapse collapse"
		  data-bs-parent="#registersAccordion">
		  <div class="accordion-body">
			<div *ngIf="emptyMedications">
			  <p>Paciente não possui medicações cadastrados</p>
			</div>
			<div *ngIf="!emptyMedications">
			  <div *ngFor="let medication of patientMedications | medicineSorting">
				<h4><span class="fw-bold">Nome da Medicação: </span> {{ medication.medicineName  }}</h4>
				<p><span class="fw-bold">Data: </span>{{ medication.medicineDate }}</p>
				<p><span class="fw-bold">Horário: </span>{{ medication.time }}</p>
				<p><span class="fw-bold">Tipo da Medicação: </span>{{ medication.type }}</p>
				<p><span class="fw-bold">Quantidade: </span>{{ medication.quantity }}</p>
				<p><span class="fw-bold">Unidade de Medida: </span>{{ medication.measurementUnit }}</p>
				<p><span class="fw-bold">Comentários: </span>{{ medication.comments }}</p>
				<button class="btn btn-secondary" (click)="accessMedication(medication)">Acessar</button>
				<hr>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <!--Diets-->
	  <div class="accordion-item">
		<h3 class="accordion-header">
		  <button
			class="accordion-button collapsed fs-3"
			type="button" data-bs-toggle="collapse"
			data-bs-target="#dietsAccordion"
			aria-expanded="false"
			aria-controls="dietsAccordion">
			Dietas
		  </button>
		</h3>
		<div
		  id="dietsAccordion"
		  class="accordion-collapse collapse"
		  data-bs-parent="#registersAccordion">
		  <div class="accordion-body">
			<div *ngIf="emptyDiets">
			  <p>Paciente não possui dietas cadastradas</p>
			</div>
			<div *ngIf="!emptyDiets">
			  <div *ngFor="let diet of patientDiets">
				<h4><span class="fw-bold">Nome da Dieta: </span> {{ diet.dietName  }}</h4>
				<p><span class="fw-bold">Data: </span>{{ diet.dietDate }}</p>
				<p><span class="fw-bold">Horário: </span>{{ diet.time }}</p>
				<p><span class="fw-bold">Tipo: </span>{{ diet.dietType }}</p>
				<p><span class="fw-bold">Descrição: </span>{{ diet.description }}</p>
				<button class="btn btn-secondary" (click)="accessDiet(diet)">Acessar</button>
				<hr>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <!--Exercícios-->
	  <div class="accordion-item">
		<h3 class="accordion-header">
		  <button
			class="accordion-button collapsed fs-3"
			type="button" data-bs-toggle="collapse"
			data-bs-target="#exerciseAccordion"
			aria-expanded="false"
			aria-controls="exerciseAccordion">
			Exercícios
		  </button>
		</h3>
		<div
		  id="exerciseAccordion"
		  class="accordion-collapse collapse"
		  data-bs-parent="#registersAccordion">
		  <div class="accordion-body">
			<div *ngIf="emptyExercises">
			  <p>Paciente não possui exercícios cadastrados</p>
			</div>
			<div *ngIf="!emptyExercises">
			  <div *ngFor="let exercise of patientExercises">
				<h4><span class="fw-bold">Nome da série de exercícios: </span> {{ exercise.exerciseSeriesName  }}</h4>
				<p><span class="fw-bold">Data: </span>{{ exercise.dateCreated }}</p>
				<p><span class="fw-bold">Horário: </span>{{ exercise.timeCreated }}</p>
				<p><span class="fw-bold">Quantidade por semana: </span>{{ exercise.timesPerWeek }}</p>
				<p><span class="fw-bold">Tipo: </span>{{ exercise.exerciseType }}</p>
				<button class="btn btn-secondary" (click)="accessExercise(exercise)">Acessar</button>
				<hr>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>

  </ng-container>
</section>