<form  class="row g-3" [formGroup]="systemConfigForm" (ngSubmit)="onSubmit()">
  <div class="col-md-4">
    <label for="companyName" class="form-label">Nome da Empresa</label>
    <input type="text" class="form-control" [ngClass]="returnValidationClassForInput('companyName')" id="companyName" formControlName="companyName">
    <div ngClass="invalid-feedback" *ngIf="systemConfigForm.controls['companyName'].invalid && checkIfInputIsUsed('companyName')">
      <div *ngIf="systemConfigForm.controls['companyName'].errors['required']">Nome da Empresa é obrigatório.</div>
      <div *ngIf="systemConfigForm.controls['companyName'].errors['minlength'] || systemConfigForm.controls['companyName'].errors['maxlength']">Nome da Empresa deve ter entre 4 e 20 caracteres.</div>
    </div>
  </div>

  <div class="col-md-4">
    <label for="logoUrl" class="form-label">URL do Logo</label>
    <input type="text" class="form-control" id="logoUrl" formControlName="logoUrl" [ngClass]="returnValidationClassForInput('logoUrl')">
    <div *ngIf="systemConfigForm.controls['logoUrl'].invalid && checkIfInputIsUsed('logoUrl')">
      <div *ngIf="systemConfigForm.controls['logoUrl'].errors['required']">URL do Logo é obrigatória.</div>
      <div *ngIf="systemConfigForm.controls['logoUrl'].errors['pattern']">URL do Logo deve ser uma URL válida.</div>
    </div>
  </div>

  <div class="col-md-4">
    <label for="primaryColor" class="form-label">Cor Primária</label>
    <input type="text" class="form-control" id="primaryColor" formControlName="primaryColor" [ngClass]="returnValidationClassForInput('primaryColor')">
    <div *ngIf="systemConfigForm.controls['primaryColor'].invalid && checkIfInputIsUsed('primaryColor')">
      <div *ngIf="systemConfigForm.controls['primaryColor'].errors['required']">Cor Primária é obrigatória.</div>
      <div *ngIf="systemConfigForm.controls['primaryColor'].errors['pattern']">Cor Primária deve estar no formato hexadecimal.</div>
    </div>
  </div>

  <div class="col-md-4">
    <label for="secondaryColor" class="form-label">Cor Secundária</label>
    <input type="text" class="form-control" id="secondaryColor" formControlName="secondaryColor" [ngClass]="returnValidationClassForInput('secondaryColor')">
    <div *ngIf="systemConfigForm.controls['secondaryColor'].invalid &&  checkIfInputIsUsed('secondaryColor')">
      <div *ngIf="systemConfigForm.controls['secondaryColor'].errors['required']">Cor Secundária é obrigatória.</div>
      <div *ngIf="systemConfigForm.controls['secondaryColor'].errors['pattern']">Cor Secundária deve estar no formato hexadecimal.</div>
    </div>
  </div>

  <div class="col-md-4">
    <label for="fontColor" class="form-label">Cor da Fonte</label>
    <input type="text" class="form-control" id="fontColor" formControlName="fontColor" [ngClass]="returnValidationClassForInput('fontColor')">
    <div *ngIf="systemConfigForm.controls['fontColor'].invalid &&  checkIfInputIsUsed('fontColor')">
      <div *ngIf="systemConfigForm.controls['fontColor'].errors['required']">Cor da Fonte é obrigatória.</div>
      <div *ngIf="systemConfigForm.controls['fontColor'].errors['pattern']">Cor da Fonte deve estar no formato hexadecimal.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="systemConfigForm.invalid">Enviar</button>
</form>
